<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans     
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context 
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:component-scan base-package="com.training" />

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>


	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/spring-app?useSSL=false" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 
	<bean
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">

		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.Exception">error</prop>
				<prop key="org.springframework.web.servlet.NoHandlerFoundException">error</prop>
			</props>
		</property>
 		<property name="defaultErrorView" value="error" />
	</bean>
	 -->
	 
	 <bean id="multipartResolver"   
class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>  
<!-- 
	<bean id = "serviceimpl" class="com.training.springexample.service.SaveUserServiceImpl">
		<property name="saveUserRepository" ref="saveUserRepository" ></property>
	</bean>
	
	
	<bean id= "saveUserRepository" class="com.training.springexample.dao.SaveUserRepository">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	
	</bean> -->
</beans>